<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 push-sm-4">
            <form action="/user/create" method="POST" class="form-signin">
                <h2 class="form-signin-heading">Create an Account</h2>
                <input type="text" name="name" placeholder="your name" class="form-control">
                <input type="text" name="title" placeholder="your title" class="form-control">
                <input type="text" name="email" placeholder="email address" class="form-control">
                <input type="password" name="password" placeholder="password" class="form-control">
                <input type="password" name="confirmation" placeholder="password confirmation" class="form-control">
                <br>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account">
                <input type="hidden" name="_csrf" value="<%= _csrf%>">
            </form>
        </div>
    </div>
</div>
